<div class="jumbotron center">
  <h1>Welcome to Guowaixue!</h1>
  <p>An unparalleled and tailored education consulting experience.</p>
  <p>
    <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
    <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
  </p>

</div>
